extends layout

block content 
  h1 Elegido Phones

  p Welcome and interact with our products

  img(src="https://fs.npstatic.com/userfiles/7687254/image/Best_Xiaomi_Phones_2024_2.jpg", alt="Phone with logo")
